# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Poetry
.venv/

# PyCharm
.idea/

# Coverage
.coverage
htmlcov/

# MyPy
.mypy_cache/

# Ruff
.ruff_cache/

# Input files — excluded from git
# Remove this line to commit sample input files
input_files/*.txt
